@{
    ViewData["Title"] = "Compra";
}
@*<h2>@ViewData["Title"].</h2>
    <h3>@ViewData["Message"]</h3>*@

<form method="post" class="form-horizontal">
    <!-- DADOS PESSOAIS-->
    <fieldset>
        <div class="panel panel-primary">
            <div class="panel-heading">Dados da compra</div>
            <br/>
            <!-- Nome do cliente -->
            <div class="form-group">
                <label class="col-md-1 control-label" for="Nome"></label>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Cliente</span>
                        <select id="bank_number" class="form-control" data-show-subtext="true" data-live-search="true">
                            <option value="">Selecione o banco</option>
                            <optgroup label="Principais bancos">
                                <option value="001">BANCO DO BRASIL S.A.</option>
                                <option value="237">BANCO BRADESCO S.A.</option>
                                <option value="341">BANCO ITAÚ S.A.</option>
                                <option value="104">CAIXA ECONOMICA FEDERAL</option>
                                <option value="033">BANCO SANTANDER BANESPA S.A.</option>
                                <option value="399">HSBC BANK BRASIL S.A.</option>
                                <option value="745">BANCO CITIBANK S.A.</option>
                            </optgroup>
                            <optgroup label="Outros bancos">
                                <option value="356">BANCO ABN AMRO REAL S.A.</option>
                                <option value="409">UNIBANCO-UNIAO DE BANCOS BRASILEIROS S.A.</option>
                                <option value="041">BANCO DO ESTADO DO RIO GRANDE DO SUL S.A.</option>
                                <option value="027">BANCO DO ESTADO DE SANTA CATARINA S.A.</option>
                                <option value="389">BANCO MERCANTIL DO BRASIL S.A.</option>
                                <option value="004">BANCO DO NORDESTE DO BRASIL S.A.</option>
                                <option value="021">BANCO DO ESTADO DO ESPIRITO SANTO S.A.</option>
                                <option value="422">BANCO SAFRA S.A.</option>
                                <option value="003">BANCO DA AMAZONIA S.A.</option>
                                <option value="047">BANCO DO ESTADO DE SERGIPE S.A.</option>
                                <option value="070">BRB - BANCO DE BRASILIA S.A.</option>
                                <option value="655">BANCO VOTORANTIM S.A.</option>
                                <option value="208">BANCO UBS PACTUAL S.A.</option>
                                <option value="107">BANCO BBM S/A</option>
                                <option value="025">BANCO ALFA S.A.</option>
                                <option value="263">BANCO CACIQUE S.A.</option>
                                <option value="229">BANCO CRUZEIRO DO SUL S.A.</option>
                                <option value="252">BANCO FININVEST S.A.</option>
                                <option value="063">BANCO IBI S.A. - BANCO MÚLTIPLO</option>
                                <option value="479">BANCO ITAUBANK S.A.</option>
                                <option value="623">BANCO PANAMERICANO S.A.</option>
                                <option value="633">BANCO RENDIMENTO S.A.</option>
                                <option value="749">BANCO SIMPLES S.A.</option>
                                <option value="215">BANCO COMERCIAL E DE INVESTIMENTO SUDAMERIS S.A.</option>
                                <option value="756">BANCO COOPERATIVO DO BRASIL S.A. - BANCOOB</option>
                                <option value="748">BANCO COOPERATIVO SICREDI S.A.</option>
                                <option value="065">BANCO LEMON S.A.</option>
                                <option value="069">BPN BRASIL BANCO MÚLTIPLO S.A.</option>
                                <option value="719">BANCO INTERNACIONAL DO FUNCHAL (BRASIL) S.A.</option>
                                <option value="318">BANCO BMG S A</option>
                            </optgroup>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon">CPF</span>
                        <input id="cpf" name="cpf" readonly placeholder="" class="form-control input-md" required="" type="text" maxlength="11" pattern="[0-9]+$">
                    </div>
                </div>
            </div>

            <!-- Data da compra -->
            <div class="form-group">
                <label class="col-md-1 control-label" for="DataCompra"></label>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Data de Compra</span>
                        <input id="dtCompra" name="dtnasc" placeholder="DD/MM/AAAA" class="form-control input-md" required="" type="text" maxlength="10" OnKeyPress="formatar('##/##/####', this)" onBlur="showhide()">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon">Tipo de produto</span>
                        <select id="bank_number" class="form-control" data-show-subtext="true" data-live-search="true">
                            <option value="">Selecione</option>
                            <option value="1">À VISTA</option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- Produto -->
            <div class="form-group">
                <label class="col-md-1 control-label" for="Produto"></label>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Produto</span>
                        <select id="bank_number" class="form-control" data-show-subtext="true" data-live-search="true">
                            <option value="">Selecione o produto</option>
                            <optgroup label="Principais produtos">
                                <option value="1">CALÇA</option>
                                <option value="2">CAMISA</option>
                                <option value="3">MEIA</option>
                                <option value="4">CUECA</option>
                                <option value="5">CALÇÃO</option>
                                <option value="6">BLUSA</option>
                                <option value="7">CAMISA SOCIAL</option>
                            </optgroup>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon">Preço</span>
                        <input id="prependedtext" name="prependedtext" class="form-control" placeholder="R$ XXXXX.XX" required="" type="text" maxlength="10" pattern="\[0-9]{2}\ [0-9]{4,6}-[0-9]{3,4}$"
                               OnKeyPress="formatar('#####.00', this)">
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon">Quantidade</span>
                        <input id="prependedtext" name="prependedtext" class="form-control" placeholder="" required="" type="text" maxlength="4" pattern="\[0-9]{2}\ [0-9]{4,6}-[0-9]{3,4}$"
                               OnKeyPress="formatar('#####', this)">
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <br />
    <!-- Executar comando -->
    <div class="col-md-8">
        <button id="Cadastrar" name="Cadastrar" class="btn btn-success" type="Submit">Cadastrar</button>
        <button id="Cancelar" name="Cancelar" class="btn btn-danger" type="Reset">Cancelar</button>
    </div>
</form>
